.App {
  text-align: left;
}

.navbar-logo {
  max-height: 80px;
  max-width: 80px;
}

.parallax {
  /* The image used */
  background-image: url("https://rosemountgaaimages.s3-ap-southeast-2.amazonaws.com/sideline.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.home-page-heading {
  color: #ffc400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  background-color: #1c2331;
  height: 100vh;
}

.flex-item1 {
  max-width: 50%;
  margin: auto;
}

.flex-item2 {
  max-width: 50%;
  width: 50vw;
  height: 50vh;
  margin: auto;
}


.gallery-modal {
  overflow-x: auto;
  overflow-y: auto;
  max-width: 90%;
}

.gallery-modal-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}